<div class="nav">
  <input type="checkbox" title="nav-check" id="nav-check" />
  <div class="nav-header">
    <div class="nav-title">Logo</div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="http://github.io/jo_geek" target="_blank" rel="noopener">Github</a>
    <a
      href="http://stackoverflow.com/users/4084003/"
      target="_blank"
      rel="noopener"
      >Stackoverflow</a
    >
    <a
      href="https://in.linkedin.com/in/jonesvinothjoseph"
      target="_blank"
      rel="noopener"
      >LinkedIn</a
    >
    <a href="https://codepen.io/jo_Geek/" target="_blank" rel="noopener"
      >Codepen</a
    >
    <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank" rel="noopener"
      >JsFiddle</a
    >
  </div>
</div>
